<div class="modal-container" id="modalContainer">
    <div class="modal" id="modalBox">
      <button class="modal-close" id="modalClose">&times;</button>
      <div class="dates-modal-content">{{ block.settings.dates }}</div>
    </div>
  </div>



